.Tileimg {
  animation: 0.7s oscImage infinite;

}

@keyframes oscImage {
  20%, 40% {
      transform: rotate(10deg);
  }
  60%, 80% {
      transform: rotate(-10deg);
  }
}

.mutTest {
  border-color: 'yellow'; border-width: 2; border-style: 'solid';
}